.filecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: absolute;
  margin-top: 200px;
  margin-bottom: 250px;
  height: 700px;
  width: 1500px;
  border: 7px;
  border-radius: 15px;
}

.filecard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  margin: 0px;
  padding: 10px;
  width: 1000px;
  border: 5px solid black;
  border-radius: 15px;
  background-color: beige;
}

.carddata {
  background-color: beige;
  display: flex;
  justify-content: space-around;
}

.leftfilecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.characterdata {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  height: 300px;
  width: 900px;
}

img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 250px;
  border: 5px solid black;
  border-radius: 15px;
}

.cardImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quotecontainer {
  justify-content: space-between;
  display: flex;
  margin: 0px;
  padding: 10px;
  width: 100%;
}

.quotebox {
  display: flex;
  flex-direction: column;
}

.quotebutton {
  display: flex;
  background-color: green;
  color: white;
  border: 2px black solid;
  border-radius: 15px;
  padding: 10px;
}
