


.gamestart {
  padding: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgb(4, 36, 4);
  color: white;
  border: 3px solid black;
  border-radius: 25px;
}

h1 {
  display: flex;
  justify-content: center;
  
}

h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}

.rulesbox {
  border: 5px solid black;
  border-radius: 25px;
  font-family: sans-serif;
  padding: 20px;
  color: black;
  font-size: 20px;
}

.nonumber {
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#arrow {
  height: 15px;
  width: 15px;
}

.startgame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 36, 4);
  color: white;
  border: 3px solid black;
  width: 250px;
  border-radius: 25px;
  margin: 2rem;
}
