.character-search {
  height: 2rem;
}

.character-image {
  padding: 20px;
  border: 2px solid red;
}

.character-card {
  height: 30rem;
  width: 20rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-card img {
  height: 90%;
  width: 90%;
}
