.character-index-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20rem;
}

.character-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.character-card {
  height: 20rem;
  width: 15rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #888888;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20rem;
  height: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1.5rem;
  transition: all 150ms ease-in 0ms;
  box-shadow: 0 0 0 white;
  border-radius: 10px;
}

.card-img-top {
  border-radius: 0;
  position: relative;
  padding: 0;
  /* top: 3rem; */
}

.card-title {
  position: relative;
}

.card:hover {
  box-shadow: 2px 2px 7px white;
  transition: all 150ms ease-in 0ms;
}

.card h5 {
  color: #021402;
  font-size: 1.6rem;
  position: relative;
  bottom: 0.4rem;
}

#card-link-tag:hover {
  text-decoration: none;
}

#card-link-tag {
  text-decoration: none;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 27%;
  z-index: 5;
  margin: 2rem;
}

.buttons-container button {
  background-color: hsla(100, 50%, 10%, 0);
  color: white;
  margin: 1rem;
  height: 4rem;
  width: 13rem;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: all 100ms ease-in 0ms;
}

.buttons-container button:hover {
  background-color: hsla(100, 40%, 40%, 0.5);
  color: white;
  transition: all 100ms ease-in 0ms;

  cursor: pointer;
}

.dropdown-menu .dropdown-item {
  color: black;
  justify-self: center;
  text-align: center;
  font-size: 1.25rem;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #021402;
  color: white;
  font-size: 1.25rem;
}

.dropdown-toggle:focus {
  background-color: hsla(100, 40%, 40%, 0.5) !important;
}
