.character-index-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 15rem;
}

.character-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

.character-card {
  height: 20rem;
  width: 15rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #888888;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 1rem;
}

button {
  border-radius: 12px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
/* -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 8px 15px;
  color: white;
  background-color: hsla(250, 50%, 50%, 0);
  text-decoration: none;
} */

/* button:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a6322;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 12px;
}
button:hover,
button:focus,
button:active {
}
button:hover:before,
button:focus:before,
button:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
} */
.card {
  width: 20rem;
  height: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1.5rem;
  transition: all 150ms ease-in 0ms;
  box-shadow: 0 0 0 white;
  border-radius: 10px;
}

.card-img-top {
  border-radius: 0;
  position: relative;
  padding: 0;
  /* top: 3rem; */
}

.card-title {
  position: relative;
  /* top: 6rem; */
}

.card:hover {
  box-shadow: 2px 2px 7px white;
  transition: all 150ms ease-in 0ms;
}

.card h5 {
  color: #021402;
  font-size: 1.6rem;
  position: relative;
  bottom: 0.4rem;
}

#card-link-tag:hover {
  text-decoration: none;
}

#card-link-tag {
  text-decoration: none;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 27%;
  z-index: 5;
  margin: 2rem;
}

/* .alphabetical-sort {
  display: flex;
  width: 30%;

  justify-content: space-around;
} */

/* .alphabetical-sort button {
  margin: 6rem;
} */

.buttons-container button {
  background-color: hsla(100, 50%, 10%, 0);
  color: white;
  margin: 1rem;
  height: 4rem;
  width: 13rem;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: all 100ms ease-in 0ms;
}

.buttons-container button:hover {
  background-color: hsla(100, 40%, 40%, 0.5);
  color: white;
  transition: all 100ms ease-in 0ms;

  cursor: pointer;
}

.dropdown-menu .dropdown-item {
  color: black;
  justify-self: center;
  text-align: center;
  font-size: 1.25rem;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #021402;
  color: white;
  font-size: 1.25rem;
}

.dropdown-toggle {
  /* border-top: 2.5px solid grey !important;
  border-left: 2.5px solid grey !important;
  border-bottom: 1px solid darkgrey !important;
  border-right: 1px solid darkgrey !important; */
}

.dropdown-toggle:focus {
  background-color: hsla(100, 40%, 40%, 0.5) !important;

  /* color: white;
  font-size: 1.25rem; */
}
