.game-options-container img {
  height: 30rem;
  width: 20rem;
}

.options-row {
  display: flex;
  width: 60rem;
  justify-content: space-around;
  margin-top: 1rem;
}

.game-option {
  border: 4px solid black;
  border-radius: 10px;
  overflow: hidden;
  transition: all 250ms ease-out 0s;
}

.game-option:hover {
  border: 4px solid blue;
  transition: all 250ms ease-out 0s;
}
