.game-options-container img {
  height: 30rem;
  width: 20rem;
}
.options-row {
  display: flex;
  width: 60rem;
  justify-content: space-around;
  margin-top: 1rem;
}
.game-option {
  border: 4px solid black;
  border-radius: 10px;
  overflow: hidden;
  transition: all 750ms ease-out 0s;
}
.game-option:hover {
  border: 4px solid yellow;
  transition: all 750ms ease-out 0s;
}
/* .choice {
  color: white;
} */
.game-status-bar {
  color: white;
  border: 2px solid yellow;
}
.score-box {
  margin-right: 2rem;
}
#score {
  font-size: 2rem;
}
