.slide {
  scroll-behavior: smooth;
}

.landingpage {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
  overflow: hidden;
  
}

#myCarousel {
  width: 30rem;
  height: 40rem;
  border-radius: 25px;
  overflow: hidden;
 position: absolute;
 top: 24rem

}

.homephoto {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0
}

.carousel-control {
  background-image: none);
}
